/* font-family: "Bai Jamjuree", sans-serif; */


:root {
    --color-accent-primary: hsl(171, 66%, 44%);
    --color-accent-secondary: hsl(233, 100%, 69%);
    --color-text-primary: hsl(201, 11%, 66%);
    --color-text-secondary: hsl(210, 10%, 33%);
    --color-white: #ffffff;
    /* --color-background: #F2F2F2; */
    --color-footer-bg: #f5f7f7;

    --wrapper-max-width: 1110px;
    --wrapper-padding-mobile: 32px;
    /* --wrapepr-padding-desktop: 355px; */
    --fw-text: 400;
    --fw-hedlines: 600;

}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
    h1, h2, h3, h4, h5, h6 {
    /* overflow-wrap: break-word; */
    color: var(--color-text-secondary);
    font-weight: var(--fw-hedlines);
    letter-spacing: -0.46px;

  }

  p {
    line-height: 26px;
    letter-spacing: 0.12px;
  }
  
  a {
    text-decoration: none;
    color: var(--color-text-primary);
  }

  li {
    list-style: none;
    letter-spacing: -0.52px;
  }

  body {
    max-width: 1440px;
    margin-inline: auto;
    background-color: var(--color-white);
    font-family: "Bai Jamjuree", sans-serif;
    color: var(--color-text-primary);
    font-weight: var(--fw-text);
  }

  .wrapper {
    padding-inline: var(--wrapper-padding-mobile);
    max-width: var(--wrapper-max-width);
  }

  .text-center {
    text-align: center;
  }

  /* mobile first  */

  header {
    background: url(images/bg-header-mobile.png) no-repeat center / cover;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    max-width: 125px;
    max-height: 125px;
    align-self: center;
    margin-block: 123px 64px;
  }

  h1 {
    font-size: 32px;
  }

  header p {
    margin-block: 16px 65px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    max-width: 311px;
    min-height: 56px;
    border-radius: 58px;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    padding: 13px 36px;
  }

  .btn-primary {
    margin-bottom: 24px;
    background-color: var(--color-accent-primary);
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  } 

  .btn-primary:hover {
    background-color: #5DCCBB;
  }

  .btn-secondary {
    background-color: var(--color-accent-secondary);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  }

  .btn-secondary:hover {
    background: #8897FF;
  }

  .snippets {
    margin-block: 160px 186px;
    text-align: center;
  }

  h2 {
    font-size: 28px;
  } 

  .snippets__headline p {
    margin-block: 16px 64px;
  }

  .full-width-split-screen {
    padding-inline: var(--wrapper-padding-mobile);
  }

  .grid-container {
    margin-block: 56px 186px;
    display: grid;
    gap: 48px;
  }

  .card h3 {
    margin-bottom: 10px;
  }

 .access__headline img{
    margin-block: 64px 130px;
 }

 .access__headline p {
    margin-top: 16px;
 }

 .workflow__headline p {
  margin-top: 11px
 }

 .workflow__card-container {
    display: flex;
    flex-direction: column;
    margin-block: 90px 131px;
    gap: 56px;
 } 

 .workflow__card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .workflow__card-item h3 {
  margin-block: 40px 18px;
 }

 .clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
 }


 /* app-store section  */

 .app-store {
  margin-block: 177px 222px;
 }

 .app-store .wrapper {
  display: flex;
  flex-direction: column;
 }

 .app-store__headline p {
  margin-block: 16px 46px;
 } 
 
 footer {
  background-color: var(--color-footer-bg);
  text-align: center;
  padding-block: 52px
 }

 .container-wrapper {
  display: flex;
  flex-direction: column;
 }


 footer .container-wrapper .logo {
  max-width: 55px;
  max-height: 55px;
  margin: 0;
 }

 footer .container-wrapper .footer-nav {
  margin-block: 40px 48px;
 }

 footer .container-wrapper .nav-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

 .nav-menu li a {
  color: var(--color-text-secondary);
 }

 .nav-menu li a:hover {
  color: var(--color-accent-primary)
 }

 footer .container-wrapper .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
 }

 .socials .facebook-icon {
  background-image: url(/images/icon-facebook.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
 }

 .socials .facebook-icon:hover {
  filter: invert(57%) sepia(19%) saturate(6227%) hue-rotate(133deg) brightness(107%) contrast(70%);
 }

 .socials .twitter-icon {
  background-image: url(/images/icon-twitter.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
 }

 .socials .twitter-icon:hover {
  filter: invert(57%) sepia(19%) saturate(6227%) hue-rotate(133deg) brightness(107%) contrast(70%);
 }

 .socials .instagram-icon {
  background-image: url(/images/icon-instagram.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
 }

 .socials .instagram-icon:hover {
  filter: invert(57%) sepia(19%) saturate(6227%) hue-rotate(133deg) brightness(107%) contrast(70%);
 }

 @media (min-width: 1000px) {

  header {
    background: url(images/bg-header-desktop.png) no-repeat center / cover;
  } 

  .wrapper, .header-wrapper {
    /* max-width: 730px; */
    margin-inline: auto;
  }

  .sub-headline {
    font-size: 20px;
  }

  .sub-headline-lg {
    font-size: 18px;
    letter-spacing: 0.14px;    
  }


  .btn-container {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  .btn-primary {
    margin: 0;
  }

  .full-width-split-screen {
    display: grid;
    grid-template-columns: 
      minmax(0, 1fr)
      minmax(0, calc(var(--wrapper-max-width) / 2))
      minmax(0, calc(var(--wrapper-max-width) / 2))
      minmax(0, 1fr); 
      overflow: hidden;
  }

  .full-width-split-screen img {
    grid-column: 1 / 3; 
    margin-left: -62px;
    
  }
  .full-width-split-screen .grid-container {
    max-width: 350px;
    margin-left: 110px;
    text-align: left;
  }

  .workflow__headline p {
    margin-top: 19px;
  }

  .workflow__card-container {
    flex-direction: row;
  }

  .workflow__card-item {
    max-width: 350px;
  }

  .clients {
    flex-direction: row;
    gap: 100px;
  }

  footer .container-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 12px 30px;
    flex-wrap: wrap;
    min-width: 485px;
    max-height: 72px;
  }

  .nav-menu li {
    min-width: 160px;
  }
 }

 





